@import url("./reset.css");
@import url("./variables.css");

body {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg-grey);
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 4fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

*:focus {
  outline: 4px solid var(--primary-color);
}

::selection {
  background-color: var(--primary-color);
}

::-moz-selection {
  background-color: var(--primary-color);
}

img.picture-small,
img.picture-medium {
  border-radius: 100%;
  border: 2px solid var(--bg-grey);
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

button:hover {
  cursor: pointer;
}

button.primary {
  background: var(--primary-color);
}

button.primary:hover,
button.primary:focus {
  background: var(--bg-light);
  outline: 2px solid var(--primary-color);
}

button.icon {
  background: transparent;
  border: none;
  border-radius: 100%;
  padding: 8px;
  width: 48px;
  height: 48px;
}

button.icon:hover {
  background-color: var(--primary-color);
}

header {
  grid-area: header;
  display: grid;
  grid-template-rows: 64px 64px;
  gap: 8px;
  padding: 24px;
  background-color: var(--bg-light);
  box-shadow: 0px 2px 8px 1px rgba(120, 120, 120, 0.75);
  -webkit-box-shadow: 0px 2px 8px 1px rgba(120, 120, 120, 0.75);
  -moz-box-shadow: 0px 2px 8px 1px rgba(120, 120, 120, 0.75);
}

header .header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

header .header-section .search {
  flex: 1;
  display: flex;
  gap: 12px;
}

header .profile,
.profile-section {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

header .welcome-message {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 1.2rem;
  font-weight: 700;
}

header .welcome-message .message {
  display: block;
  font-size: 1rem;
}

header .projects-actions ul {
  display: flex;
  gap: 12px;
}

.search input[type="search"] {
  flex: 1;
  border: none;
  border-radius: 12px;
  padding: 8px;
  font-size: inherit;
  background-color: var(--bg-grey);
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--bg-grey);
  color: var(--text-light-bg);
  display: grid;
  grid-template-rows: 80px 1fr;
  padding: 16px;
  box-shadow: 2px 0px 6px -3px rgba(135, 135, 135, 0.75);
  -webkit-box-shadow: 2px 0px 6px -3px rgba(135, 135, 135, 0.75);
  -moz-box-shadow: 2px 0px 6px -3px rgba(135, 135, 135, 0.75);
}

.sidebar a {
  color: var(--text-light-bg);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;
}

.sidebar .sidebar-navigation a:hover,
.sidebar .sidebar-navigation a.active {
  background-color: var(--primary-color);
}

.sidebar a img {
  fill: var(--text-primary-bg);
}

.sidebar-navigation ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar-navigation .nav-section {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.sidebar .logo {
  font-size: 1.5rem;
  font-weight: 700;
}

main {
  grid-area: main;
  display: grid;
  padding: 24px;
  grid-template-columns: 4fr minmax(300px, 1fr);
  gap: 24px;
}

section.projects h2,
aside.site-highlights h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 12px;
}

section.projects .project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

.project-container > .project {
  background-color: var(--bg-light);
  padding: 24px;
  border-left: 8px solid var(--primary-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--text-light-bg);
}

.project .project-actions {
  align-self: flex-end;
}

.project h3 {
  font-weight: 700;
  font-size: 1.2rem;
}

aside.site-highlights {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

aside .announcements-list ul,
aside .trending {
  display: flex;
  gap: 16px;
  flex-direction: column;
  background-color: var(--bg-light);
  padding: 2rem;
  border-radius: 16px;
}

.announcements-list :not(:last-child) {
  border-bottom: 2px solid var(--bg-grey);
  padding-bottom: 16px;
}

aside .trending-list ul .user-card {
  display: flex;
  gap: 12px;
}
